{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if TECHNICUS_SITE_META_DESC %}
  <meta name="description" content="{{ TECHNICUS_SITE_META_DESC }}" />
  {% endif %}
{% endblock %}

{% block opengraph %}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ articles_page.url }}" />
<meta property="og:image" content="{{ SITEURL }}{{ TECHNICUS_DEFAULT_OG_IMAGE }}" />
{% if TECHNICUS_SITE_META_DESC %}
<meta property="og:description" content="{{ TECHNICUS_SITE_META_DESC }}" />
{% endif %}
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
  <section class="preview-article">
    <header>
      <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a></h2>
    </header>
    <time datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
    </time>
    {% if article.summary %}
    <div class="preview-article-content">{{ article.summary }}</div>
    {% endif %}
  </section>
{% endfor %}
{% if articles_page.has_other_pages() and DEFAULT_PAGINATION %}
<section class="pagination-index">
  {% if articles_page.has_previous() %}
  <div>
    <i class="bi-arrow-left-circle"></i>
    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" rel="prev">Previous page</a>
  </div>
  {% endif %}
  {% if articles_page.has_next() %}
  <div>
    <a href="{{ SITEURL }}/{{ articles_next_page.url }}" rel="next">Next page</a>
    <i class="bi-arrow-right-circle"></i>
  </div>
  {% endif %}
</section>
{% endif %}
{% endblock content %}
