{% extends "base.html" %}

{% block title %}Tag: {{ tag }} &mdash; {{ SITENAME }}{% endblock %}

{% block content %}
<h2><i class="bi-tag"></i> Tag: {{ tag }}</h2>
<div class="special-page-content">
  <ul>
  {% for article in articles %}
    <li>
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      <br>
      <time>{{ article.date|strftime('%Y-%m-%d') }}</time>
    </li>
  {% endfor %}
  </ul>
  <p>
    &larr; <a href="{{ SITEURL }}/{{ TAGS_URL }}">View all tags</a>
  </p>
</div>
{% endblock %}
