body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: #1b1b24;
    color: rgb(222, 222, 222);
}
body > header > h1 {
    margin: 4rem 0 0;
}
body > nav > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 2rem;
    margin: 2rem 0 0;
    padding: 0;
}
main {
    margin: 4rem 0;
}
body > footer {
    margin: 0 0 2rem;
}

.preview-article,
.article,
.article-content,
.page,
.page-content {
    margin: 4rem 0;
}

.article > footer {
    border-top: .3rem solid #5a5a6f;
    border-radius: 0 0 .5rem .5rem;
    background-color: #3b3b4c;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page > footer {
    padding: 1rem 0;
}

.article-tags .article-tag:not(:last-child)::after {
    content: '•';
}

.pagination-index,
.pagination-article {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.pagination-article {
    flex-direction: column;
    gap: 1.5rem;
}

/* Typography */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6,
time, pre, code,
.mono {
    font-family: 'Source Code Pro', monospace;
}
h1, h2, h3 {
    font-size: 1.5em;
    font-weight: 300;
}
h4, h5, h6 {
    font-size: 1em;
    font-weight: 700;
}
time, pre, code,
.mono {
    font-size: 14px;
}
.preview-article-content,
.article-content,
.page-content {
    line-height: 1.45;
}
main ul, main ol {
    padding-left: 1.5rem;
}
main ul > li, main ol > li {
    margin: .5em 0;
}
blockquote {
    margin-inline: 0 1rem;
    border-inline-start: 3px solid #3b3b4c;
    padding-inline-start: 1.4rem;
}

/* Links */

body > header h1 a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(160, 223, 223);
}
a:hover, a:focus, a:active {
    color: #ffffff;
}
.window-load a {
    transition: all 0.5s ease-out;
}

/* Code blocks */

main, .preview-article,
.article, .page,
.article pre, .page pre {
    overflow-x: auto;
}
.article pre > code,
.page pre > code {
    display: inline-block;
    margin: 1rem;
}
div.highlight {
    border-radius: .5rem;
}
